@import "styles/variables";

.footer {
  display: flex;
  position:fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $footer-blue;

  &__images {
    padding: 16px;
    width: 10%;
    display: flex;
    justify-content: space-between;
  }

  & p {
    padding: 16px;
    font-family: $bold-font;
    color: #fff;
  }
}